DATABASE_URL=""
NODE_ENV=development
PORT=7000

# -------------------------
# STRIPE PAYMENT GATEWAY
# -------------------------
STRIPE_PUBLIC_KEY=           # Stripe publishable API key (frontend use)
STRIPE_SECRET_KEY=           # Stripe secret API key (backend use)
STRIPE_WEBHOOK_SECRET=       # Stripe webhook signing secret


# -------------------------
# CLIENT URLS
# -------------------------
CLIENT_URL_PROD=             # Frontend URL (production)
CLIENT_URL_DEV=              # Frontend URL (development)